In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.naive_bayes import MultinomialNB

In [2]:
df=pd.read_csv("spam.csv")
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
#find nan values
df.isnull().sum()

Category    0
Message     0
dtype: int64

In [4]:
#category one hot encoding
df["spam"]=df["Category"].map({"ham":0,"spam":1})
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [5]:
#drop category feature
df=df.drop("Category",axis=1)
df.head()

                                             Message  spam
0  Go until jurong point, crazy.. Available only ...     0
1                      Ok lar... Joking wif u oni...     0
2  Free entry in 2 a wkly comp to win FA Cup fina...     1
3  U dun say so early hor... U c already then say...     0
4  Nah I don't think he goes to usf, he lives aro...     0

In [6]:
#seperate train_test_split varible
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.Message,df.spam)

In [7]:
#message caterigocial to numerical need to change using countvectorizer
from sklearn.feature_extraction.text import CountVectorizer
ct=CountVectorizer()
ct.fit(X_train)
x_train=ct.transform(X_train)
x_test=ct.transform(X_test)

In [8]:
x_train

<4179x7511 sparse matrix of type '<class 'numpy.int64'>'
	with 55536 stored elements in Compressed Sparse Row format>

In [9]:
#model building
model=MultinomialNB()
model.fit(x_train,y_train)

MultinomialNB()

In [10]:
model.score(x_test,y_test)#score of test data

0.9885139985642498

In [11]:
#checking the model
emails = ['Hey mohan, can we get together to watch footbal game tomorrow?',
          'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!']
email=ct.transform(emails)

In [12]:
model.predict(email)#prediction

array([0, 1], dtype=int64)

In [13]:
#save the model
import pickle
with open("multinominal.pkl","wb") as f:
    pickle.dump(model,f)

In [14]:
#using pipelines
from sklearn.pipeline import Pipeline
clf = Pipeline([('vectorizer', CountVectorizer()),
                ('nb', MultinomialNB())])

In [15]:
clf.fit(X_train,y_train)#fit the data

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [35]:
clf.predict(emails)#predict the data

array([0, 1], dtype=int64)